{% extends 'orders/baselayout.html' %}
{% block content %}
<p class="heading extra-heading">Cart</p>
<hr />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11">
        <div class="container cart" id="main_container">
          <div class="row header">
            <div class="col">Food</div>
            <div class="col">Type(for pizza)</div>
            <div class="col">Size</div>
            <div class="col">Toppings</div>
            <div class="col">Extras</div>
            <div class="col">Price($)</div>
            <div class="col-1">Action</div>
          </div>
          {% for order in orders %}
            <div class="row cart-row">
              <div class="col">{{ order.dish }}</div>
              <div class="col">{% if order.pizza_type is not None %}{{ order.pizza_type }}{% endif %}</div>
              <div class="col">{% if order.size is not None %}{{ order.size }}{% else %}&nbsp{% endif %}</div>
              <div class="col">{% for topping in order.pizza_toppings.all %}{{ topping }}<br>{% if toppings == ''  %}&nbsp{% endif %}{% endfor %}</div>
              <div class="col">{% for extra in order.sub_additions.all %}{{ extra }}<br>{% endfor %}</div>
              <div class="col price">{{ order.price }}</div>
              <div class="col-1">{% csrf_token %}<button data-id={{order.id}} class="cancel">Remove</button></div>
            </div>
          {% endfor %}
          <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" style="font-weight: bold;">Total</div>
            <div class="col-1"></div>
          </div>
          <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="total"></div>
            <div class="col-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if orders %}
  <div class="container">
    <div class="row justify-content-center">
      <form action="{% url 'place_order' %}" method="POST">
        {%csrf_token%}
      <button class="btn btn-success" href="{% url 'place_order'%}">Place Order</button>
      </form>
      </div>
    </div>
  {% endif %}
  <script>
    function calculateSum() {
      let total = 0;
      let prices = Array.from(document.getElementsByClassName('price'));

      prices.forEach(price => {
        let sum = parseFloat(price.innerHTML);
        total += sum;
      });
      document.querySelector('#total').innerHTML = total.toFixed(2);

    };

    document.addEventListener("DOMContentLoaded", () => {
      calculateSum()
      let cancels = document.querySelectorAll('.cancel');

      cancels.forEach(cancel => {
        cancel.onmouseover = () => {
          cancel.style.cursor = 'pointer';
        }
      })
      document.addEventListener('click', event => {
          const element = event.target;
          if (element.className == 'cancel') {
            element.parentNode.parentNode.style.animationPlayState = 'running';
            let request = new XMLHttpRequest;
            let crsf = element.previousSibling.value;
            let data = new FormData();
            data.append('id', element.dataset.id);

            element.parentNode.parentNode.addEventListener('animationend', () =>  {
            element.parentNode.parentNode.remove();
            calculateSum()
            if (document.querySelector('.cart-row') == null ){
              data.append('no_content', 'no_content');
            }
            request.open('POST', '/delete');
            request.setRequestHeader('X-CSRFToken', crsf);
            request.send(data);

            request.onload = () => {
              let response = JSON.parse(request.responseText);
            }


            });
          }
      });
    });
  </script>
{% endblock %}
